.buildpath
.project
.settings/
.buildAllLoad.sh.disable
mask.*
cache/*
log/*
config/databases.yml
lib
data/sql/schema.sql
web/uploads/*
uploads/*
nbproject/
config/app.yml
config/factories.yml
/export/*
/tags
dbf
tmp
dump-small.sql
*.swp
export
/tags
test/dump.sql
/web/images/articles/*
/web/images/warrants/*
#data/import/*
plugins
articles/*
.disable_web_protection
vendor
data/fias
composer.lock
test/*
