Options +FollowSymLinks +ExecCGI

<IfModule mod_rewrite.c>
  RewriteEngine On

  # .pph -> .php
  # Somehow I manage to make this mistake very often
  RewriteRule ^(.+)\.pph(.+)$ http://%{HTTP_HOST}/$1.php$2 [R,L]

  # remove trailing slash
  RewriteRule ^(.+)/$ http://%{HTTP_HOST}/chest/$1 [R,L]
  
  # uncomment the following line, if you are having trouble
  # getting no_script_name to work
  #RewriteBase /

  # we skip all files with .something
  #RewriteCond %{REQUEST_URI} \..+$
  #RewriteCond %{REQUEST_URI} !\.html$
  #RewriteRule .* - [L]

  RedirectMatch ^/chest/(.*)images/(.*)$ /$1images/$2
  RedirectMatch ^/chest/(.*)css/(.*)$ /$1css/$2
  RedirectMatch ^/chest/(.*)js/(.*)$ /$1js/$2
  RedirectMatch ^/chest/(.*)sf/(.*)$ /$1sf/$2
  
  # we check if the .html version is here (caching)
  RewriteRule ^$ index.html [QSA]
  RewriteRule ^([^.]+)$ $1.html [QSA]
  RewriteCond %{REQUEST_FILENAME} !-f

  # no, so we redirect to our front web controller
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
